<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kittler.vm-backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/martinkittler/bin/vm-backup-synology.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/martinkittler/Library/Logs/vm-backup-synology.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/martinkittler/Library/Logs/vm-backup-synology.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>20</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
